<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
    <link rel="manifest" href="images/icons/site.webmanifest">
</head>
<header>
    <img class="logo" src="images/svg.svg" alt="">
</header>
<body>
<!--Nav bar-->
<div class="container">
    <div class="w-grid">
        <div class="box-weather">
            <div class="autocomplete-container" id="autocomplete-container"></div>

        </div>

    </div>
</div>

<div class="container">
    <div class="grid-resents">

        <div class="box-recent">
            <p>Weather info</p>
            <h1 style="margin-top: -19px">Recent Searches:</h1>
            <hr>
            <div id="duplicate" class="recent-rect">
                <p class="recent-items"></p>
                <i id="x" class="bi bi-x-lg"></i>
            </div>

        </div>
    </div>
</div>
<div class="location">
    <h2 id="location">Weather in syracuse</h2>
    <hr>
</div>
<div class="placeholder">
    <h1>Please type an address in the search box above to see weather results.</h1>
</div>
<div id="weather-results" class="container">
    <div class="grid">
        <div id="first-box" class="box">
            <h3>Current Temp <i class="bi bi-thermometer-half"></i></h3>
            <h1 class="weather-elements" id="temp"> 88°
            </h1>
        </div>
        <div class="box">
            <h3>Feels Like <i class="bi bi-bullseye"></i></h3>
            <h1 class="weather-elements" id="feels-like">88
            </h1>
        </div>
        <div class="box">
            <h3>Min Temp <i class="bi bi-thermometer-low"></i></h3>
            <h1 class="weather-elements" id="min-temp">56
            </h1>
        </div>
        <div class="box">
            <h3>Max Temp <i class="bi bi-thermometer-high"></i></h3>
            <h1 class="weather-elements" id="max-temp">90
            </h1>
        </div>
        <div class="box" id="forecast">
            <h3>Forecast</h3>
            <img src="" alt="weather icon" id="weather-icon">
            <p id="description">
            </p>
        </div>
        <div class="box">
            <h3>Humidity <i class="bi bi-moisture"></i></h3>
            <h1 class="weather-elements" id="humidity">87
            </h1>
        </div>
        <div class="box">
            <h2>Wind Speed <i class="bi bi-wind"></i></h2>
            <h1 class="weather-elements" id="wind-speed">10
            </h1>
        </div>
        <div class="box">
            <h3>Visibility <i class="bi bi-eye"></i></h3>
            <h1 class="weather-elements" id="visibility">10 mi
            </h1>
        </div>

        <div class="box">
            <h3>Pressure <i class="bi bi-speedometer"></i></h3>
            <h1 class="weather-elements" id="pressure">30.11 HG
            </h1>
        </div>
        <div class="box">

            <h3>Sun Set <i class="bi bi-sunset"></i></h3>
            <h2 class="weather-elements" id="sun-set"> 8:40pm
            </h2>
            <p class="weather-elements" id="sun-rise">sun rise: 6:50am</p>
        </div>
    </div>

</div>
</body>
<footer id="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-box">
                <p>Page Last Updated 6/19/2022</p>
                <p>Copyright <span>&copy;</span> 2022 Abdirezak Yusuf</p>
            </div>
            <div id="socials" class="footer-box">
                <a href="https://www.linkedin.com/in/abdirezak-yusuf-a86944233/" target="_blank">
                    <i class="bi bi-linkedin"></i> LinkedIn Profile
                </a><br>
                <a href="https://github.com/AbdiZAk" target="_blank"><i class="bi bi-github"></i>github/AbdiZAk</a><br>

            </div>
        </div>
    </div>
</footer>
</html>
